{% if categoryService.buildTreeLinkRequest is defined %}
    <p><a href="{{ path('index') }}">Logo Maison</a>
        {% for cat in categoryService.buildTreeLinkRequest %}
            / <a href="{{ path('index_forum', {'id_cat': cat.id}) }}">{{ cat.libelle }}</a>
        {% endfor %}
    </p>
{% endif %}