{% extends 'base.html.twig' %}

{% block title %}New topic{% endblock %}

{% block body %}
    <h1>[{{ category.libelle }}] Créer un nouveau thread</h1>

    {{ include('topic/_form.html.twig') }}

    <a href="{{ path('index_forum', {'id_cat': category.id}) }}">back to list</a>
{% endblock %}
